.google-play{
    height:50px!important;
    width:140px!important;
    border-radius: 10px;
    border-style: solid;
    border-width: thin;
}
.fa-youtube-play{
    color:#777777!important;
}
.fa-instagram{
    color:#777777!important;
}
.fa-twitter{
    color:#777777!important;
}
.fa-facebook-square{
    color:#777777!important;
}
.fa-linkedin-square{
    color:#777777!important;

}
.fa-pinterest{
    color:#777777!important;
 
}
.footer-copyright{
    background-color: 777777!important;
    color:white!important;
}